In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.express as px

In [36]:
df = pd.read_csv("data/full_data_distilbert_finetuned_atepc_vader.csv")

In [52]:
from geopy.geocoders import GoogleV3
import time

def geocode(df):
    geolocator = GoogleV3(api_key="") 
    df['latitude']=np.NaN
    df['longitude']=np.NaN
    for i in range(2):
        location=df.iloc[i]['Location']
        print(location)
        location_obj = geolocator.geocode(location)
        print(location_obj)
        if location_obj:
            print(1)
            print(df.iloc[i]['latitude'])
            print(location_obj.latitude)
            df.iloc[i]['latitude']=location_obj.latitude
            print(df.iloc[i]['latitude'])
            df.iloc[i]['longitude']=location_obj.longitude
            print(2)
        print(i)
        # if i%3000==0:
        #     time.sleep(10)
    return df

df=geocode(df)
df

Romulus, MI
Romulus, MI, USA
1
nan
42.2222614
nan
2
0
Seattle, WA
Seattle, WA, USA
1
nan
47.6061389
nan
2
1

/var/folders/ry/s39x6jls7kg80gzhq36cjjjw0000gn/T/ipykernel_7572/1325576411.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/ry/s39x6jls7kg80gzhq36cjjjw0000gn/T/ipykernel_7572/1325576411.py:19: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,Company Name,Overall Rating,Review Date,Review Title,Job Title,Job Details,Location,Pros,Cons,...,sentiment,probs,confidence,negative_score,positive_score,neutral_score,atepc_final_aggregated_sentiment,vader_sentiment,latitude,longitude
0,"2024-02-12 00:00:00Good pay, hard work0",Amazon,5.0,2024-02-12,good pay hard work,area manager ii,former employee more than 3 years,"Romulus, MI",pay autonomy plenty of benefits,it was hard work in a warehouse many days of 1...,...,"['Positive', 'Positive']","[[0.11926588416099501, 0.0007681544520890001, ...","[0.88, 0.9721000000000001]",0.000000,1.852019,0.000000,Positive,Positive,NaN,NaN
1,2016-01-10 00:00:00You Get What You Put In1,Amazon,5.0,2016-01-10,you get what you put in,anonymous employee,current employee,"Seattle, WA",really smart people a lot of opportunity for g...,you have to be self motivated no one will hold...,...,"['Positive', 'Positive']","[[0.024461025372147, 0.0006920149899080001, 0....","[0.9748, 0.8659]",0.000000,1.840734,0.000000,Positive,Positive,NaN,NaN
2,"2016-02-20 00:00:00Exciting Work, Abusive Cult...",Amazon,3.0,2016-02-20,exciting work abusive culture,senior engineering manager,current employee more than 8 years,"Seattle, WA",jeff bezos and his steam are brilliant and con...,the management process is abusive and im curre...,...,"['Positive', 'Negative']","[[0.435907185077667, 0.000631120288744, 0.5634...","[0.5635, 0.9838]",0.983846,0.563462,0.000000,Negative,Negative,NaN,NaN
3,2013-12-17 00:00:00Can be amazing for some peo...,Amazon,4.0,2013-12-17,can be amazing for some people horrible for ot...,software development manager,current employee more than 3 years,"Seattle, WA",amazon is doing lots of cool stuffbut lots of ...,youre responsible for your own career progress...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN
4,2018-02-23 00:00:00An Amazing Place to Work4,Amazon,5.0,2018-02-23,an amazing place to work,software development manager,current employee less than 1 year,"Phoenix, AZ",ive been at amazon for a month now and ive see...,no cons so far seriously like i said im sure a...,...,"['Positive', 'Positive', 'Positive']","[[0.001275023911148, 0.000407961517339, 0.9983...","[0.9983000000000001, 0.9983000000000001, 0.7316]",0.000000,2.728296,0.000000,Positive,Positive,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,2023-05-26 00:00:00Not exactly20030,Informatica,2.0,2023-05-26,not exactly,data scientist,former employee less than 1 year,"Austin, TX",great office location and some really good people,micro managing convenient memory loss manageri...,...,"['Neutral', 'Positive']","[[0.013467683456838, 0.978248715400695, 0.0082...","[0.9782000000000001, 0.9989]",0.000000,0.998926,0.978249,Positive,Negative,NaN,NaN
18345,2022-02-25 00:00:00Micro managers R US (and we...,Informatica,1.0,2022-02-25,micro managers r us and weve got spreadsheets ...,developer,former employee more than 3 years,NaN,its a funny company informatica they like to m...,the biggest con they do not keep money promise...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN
18346,2023-05-15 00:00:00easy job but alot of change...,Informatica,3.0,2023-05-15,easy job but alot of changes,business development manager,current employee more than 1 year,"Austin, TX",great people good pay free trips,way to many business changes it is hard to kee...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN
18347,2022-09-30 00:00:00Great place to work20033,Informatica,5.0,2022-09-30,great place to work,director,current employee less than 1 year,NaN,the company has a great cuture and the nice th...,big portfolio of products so there is a lot to...,...,"['Positive', 'Positive']","[[0.004255812615156, 0.00022892341075900002, 0...","[0.9955, 0.9966]",0.000000,1.992141,0.000000,Positive,Positive,NaN,NaN
18348,2023-04-29 00:00:00Toxic20034,Informatica,1.0,2023-04-29,toxic,account executive,former employee more than 1 year,"Dallas, TX",good overall benefits and pay sko is strong an...,my team and manager was quite toxic with a lot...,...,"['Positive', 'Positive']","[[0.0019939446356140003, 0.0004348887887310000...","[0.9976, 0.9988]",0.000000,1.996393,0.000000,Positive,Positive,NaN,NaN

In [44]:
df.to_csv('loc.csv', index=False)

In [47]:
location=df.iloc[0]['Location']
geolocator = GoogleV3(api_key="") 
location_obj = geolocator.geocode(location)
location_obj.longitude

Location(Romulus, MI, USA, (42.2222614, -83.39659940000001, 0.0))

In [16]:
location_obj = geolocator.geocode(df['Location'])
location_obj.latitude

30.267153

In [17]:
len(list(df['Location'].unique()))

1308

In [9]:
from indexers import LeaderIndexer
from encoders import TermFrequencyEncoder
from retrievers import BaseRetriever
from enums import EncoderType, IndexerType

In [19]:
encoder_type = EncoderType("TermFrequencyEncoder")
indexer_type = IndexerType("LeaderIndexer")
retriever = BaseRetriever(encoder_type, indexer_type, df, 'Review Title', encoder_kwargs={}, indexer_kwargs={"n_clusters": 1, 'use_pca': False, 'min_explained_var': 0.7})
results = retriever.retrieve_results('bad company')

result_df = pd.DataFrame(results, columns = ['id', 'score'])
results=result_df
results = result_df.sort_values('score', ascending = False)


global relevant_rows
relevant_rows = results

In [20]:
relevant_rows

                                            id  score
0                   2022-12-02 00:00:00Bad6866    1.0
1                  2023-10-30 00:00:00bad12828    1.0
2                  2023-04-07 00:00:00Bad13416    1.0
3                  2023-03-22 00:00:00Bad14077    1.0
4                  2023-05-03 00:00:00Bad14825    1.0
...                                        ...    ...
6323             2023-02-22 00:00:00Decent7307    0.0
6324   2023-05-16 00:00:00Pay compensation7308    0.0
6325       2023-02-03 00:00:00Great so far7309    0.0
6326              2023-06-07 00:00:00Buyer7310    0.0
18348            2023-04-29 00:00:00Toxic20034    0.0

[18349 rows x 2 columns]

In [5]:
df=pd.read_csv('loc.csv')

In [6]:
df

,id,Company Name,Overall Rating,Review Date,Review Title,Job Title,Job Details,Location,Pros,Cons,...,sentiment,probs,confidence,negative_score,positive_score,neutral_score,atepc_final_aggregated_sentiment,vader_sentiment,latitude,longitude
0,"2024-02-12 00:00:00Good pay, hard work0",Amazon,5.0,2024-02-12,good pay hard work,area manager ii,former employee more than 3 years,"Romulus, MI",pay autonomy plenty of benefits,it was hard work in a warehouse many days of 1...,...,"['Positive', 'Positive']","[[0.11926588416099501, 0.0007681544520890001, ...","[0.88, 0.9721000000000001]",0.000000,1.852019,0.000000,Positive,Positive,42.222261,-83.396599
1,2016-01-10 00:00:00You Get What You Put In1,Amazon,5.0,2016-01-10,you get what you put in,anonymous employee,current employee,"Seattle, WA",really smart people a lot of opportunity for g...,you have to be self motivated no one will hold...,...,"['Positive', 'Positive']","[[0.024461025372147, 0.0006920149899080001, 0....","[0.9748, 0.8659]",0.000000,1.840734,0.000000,Positive,Positive,47.606139,-122.332848
2,"2016-02-20 00:00:00Exciting Work, Abusive Cult...",Amazon,3.0,2016-02-20,exciting work abusive culture,senior engineering manager,current employee more than 8 years,"Seattle, WA",jeff bezos and his steam are brilliant and con...,the management process is abusive and im curre...,...,"['Positive', 'Negative']","[[0.435907185077667, 0.000631120288744, 0.5634...","[0.5635, 0.9838]",0.983846,0.563462,0.000000,Negative,Negative,47.606139,-122.332848
3,2013-12-17 00:00:00Can be amazing for some peo...,Amazon,4.0,2013-12-17,can be amazing for some people horrible for ot...,software development manager,current employee more than 3 years,"Seattle, WA",amazon is doing lots of cool stuffbut lots of ...,youre responsible for your own career progress...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,47.606139,-122.332848
4,2018-02-23 00:00:00An Amazing Place to Work4,Amazon,5.0,2018-02-23,an amazing place to work,software development manager,current employee less than 1 year,"Phoenix, AZ",ive been at amazon for a month now and ive see...,no cons so far seriously like i said im sure a...,...,"['Positive', 'Positive', 'Positive']","[[0.001275023911148, 0.000407961517339, 0.9983...","[0.9983000000000001, 0.9983000000000001, 0.7316]",0.000000,2.728296,0.000000,Positive,Positive,33.448377,-112.074037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,2023-05-26 00:00:00Not exactly20030,Informatica,2.0,2023-05-26,not exactly,data scientist,former employee less than 1 year,"Austin, TX",great office location and some really good people,micro managing convenient memory loss manageri...,...,"['Neutral', 'Positive']","[[0.013467683456838, 0.978248715400695, 0.0082...","[0.9782000000000001, 0.9989]",0.000000,0.998926,0.978249,Positive,Negative,30.267153,-97.743061
18345,2022-02-25 00:00:00Micro managers R US (and we...,Informatica,1.0,2022-02-25,micro managers r us and weve got spreadsheets ...,developer,former employee more than 3 years,NaN,its a funny company informatica they like to m...,the biggest con they do not keep money promise...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN
18346,2023-05-15 00:00:00easy job but alot of change...,Informatica,3.0,2023-05-15,easy job but alot of changes,business development manager,current employee more than 1 year,"Austin, TX",great people good pay free trips,way to many business changes it is hard to kee...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,30.267153,-97.743061
18347,2022-09-30 00:00:00Great place to work20033,Informatica,5.0,2022-09-30,great place to work,director,current employee less than 1 year,NaN,the company has a great cuture and the nice th...,big portfolio of products so there is a lot to...,...,"['Positive', 'Positive']","[[0.004255812615156, 0.00022892341075900002, 0...","[0.9955, 0.9966]",0.000000,1.992141,0.000000,Positive,Positive,NaN,NaN
18348,2023-04-29 00:00:00Toxic20034,Informatica,1.0,2023-04-29,toxic,account executive,former employee more than 1 year,"Dallas, TX",good overall benefits and pay sko is strong an...,my team and manager was quite toxic with a lot...,...,"['Positive', 'Positive']","[[0.0019939446356140003, 0.0004348887887310000...","[0.9976, 0.9988]",0.000000,1.996393,0.000000,Positive,Positive,32.776664,-96.796988

In [8]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

def get_continent(latitude, longitude):
    geolocator = Nominatim(user_agent="geoapiExercises")
    try:
        # Reverse geocode to get the location details from (latitude, longitude)
        location = geolocator.reverse((latitude, longitude), exactly_one=True)
        if location:
            # Parse location raw data for the continent
            address = location.raw.get('address', {})
            continent = address.get('continent', 'Continent not found')
            return continent
    except GeocoderTimedOut:
        return "GeocoderTimedOut: Service timed out"

# Example usage
latitude, longitude = 42.222261,	-83.396599  # Coordinates for Paris, France
continent = get_continent(latitude, longitude)
print(f"The continent is: {continent}")

GeocoderInsufficientPrivileges: Non-successful status code 403

In [14]:
from geopy.geocoders import GoogleV3
from geopy.exc import GeocoderTimedOut

def get_country(latitude, longitude, api_key):
    if pd.isna(latitude) or pd.isna(longitude):
        return np.nan
    geolocator = GoogleV3(api_key=api_key)
    try:
        # Reverse geocode to get the location details from (latitude, longitude)
        location = geolocator.reverse((latitude, longitude), exactly_one=True)
        if location:
            # Iterate through the address components to find the country
            for component in location.raw['address_components']:
                if 'country' in component['types']:
                    return component['long_name']  # Returns the full name of the country
            return "Country not found"
    except GeocoderTimedOut:
        return "GeocoderTimedOut: Service timed out"

# Replace 'YOUR_API_KEY_HERE' with your actual Google Maps Geocoding API key
api_key = ''

# Example usage with coordinates for Paris, France
latitude, longitude = 48.8566, 2.3522
country = get_country(latitude, longitude, api_key)
print(f"The country is: {country}")

The country is: France

In [15]:
df

,id,Company Name,Overall Rating,Review Date,Review Title,Job Title,Job Details,Location,Pros,Cons,...,sentiment,probs,confidence,negative_score,positive_score,neutral_score,atepc_final_aggregated_sentiment,vader_sentiment,latitude,longitude
0,"2024-02-12 00:00:00Good pay, hard work0",Amazon,5.0,2024-02-12,good pay hard work,area manager ii,former employee more than 3 years,"Romulus, MI",pay autonomy plenty of benefits,it was hard work in a warehouse many days of 1...,...,"['Positive', 'Positive']","[[0.11926588416099501, 0.0007681544520890001, ...","[0.88, 0.9721000000000001]",0.000000,1.852019,0.000000,Positive,Positive,42.222261,-83.396599
1,2016-01-10 00:00:00You Get What You Put In1,Amazon,5.0,2016-01-10,you get what you put in,anonymous employee,current employee,"Seattle, WA",really smart people a lot of opportunity for g...,you have to be self motivated no one will hold...,...,"['Positive', 'Positive']","[[0.024461025372147, 0.0006920149899080001, 0....","[0.9748, 0.8659]",0.000000,1.840734,0.000000,Positive,Positive,47.606139,-122.332848
2,"2016-02-20 00:00:00Exciting Work, Abusive Cult...",Amazon,3.0,2016-02-20,exciting work abusive culture,senior engineering manager,current employee more than 8 years,"Seattle, WA",jeff bezos and his steam are brilliant and con...,the management process is abusive and im curre...,...,"['Positive', 'Negative']","[[0.435907185077667, 0.000631120288744, 0.5634...","[0.5635, 0.9838]",0.983846,0.563462,0.000000,Negative,Negative,47.606139,-122.332848
3,2013-12-17 00:00:00Can be amazing for some peo...,Amazon,4.0,2013-12-17,can be amazing for some people horrible for ot...,software development manager,current employee more than 3 years,"Seattle, WA",amazon is doing lots of cool stuffbut lots of ...,youre responsible for your own career progress...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,47.606139,-122.332848
4,2018-02-23 00:00:00An Amazing Place to Work4,Amazon,5.0,2018-02-23,an amazing place to work,software development manager,current employee less than 1 year,"Phoenix, AZ",ive been at amazon for a month now and ive see...,no cons so far seriously like i said im sure a...,...,"['Positive', 'Positive', 'Positive']","[[0.001275023911148, 0.000407961517339, 0.9983...","[0.9983000000000001, 0.9983000000000001, 0.7316]",0.000000,2.728296,0.000000,Positive,Positive,33.448377,-112.074037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,2023-05-26 00:00:00Not exactly20030,Informatica,2.0,2023-05-26,not exactly,data scientist,former employee less than 1 year,"Austin, TX",great office location and some really good people,micro managing convenient memory loss manageri...,...,"['Neutral', 'Positive']","[[0.013467683456838, 0.978248715400695, 0.0082...","[0.9782000000000001, 0.9989]",0.000000,0.998926,0.978249,Positive,Negative,30.267153,-97.743061
18345,2022-02-25 00:00:00Micro managers R US (and we...,Informatica,1.0,2022-02-25,micro managers r us and weve got spreadsheets ...,developer,former employee more than 3 years,NaN,its a funny company informatica they like to m...,the biggest con they do not keep money promise...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN
18346,2023-05-15 00:00:00easy job but alot of change...,Informatica,3.0,2023-05-15,easy job but alot of changes,business development manager,current employee more than 1 year,"Austin, TX",great people good pay free trips,way to many business changes it is hard to kee...,...,[],[],[],0.000000,0.000000,0.000000,Neutral,Positive,30.267153,-97.743061
18347,2022-09-30 00:00:00Great place to work20033,Informatica,5.0,2022-09-30,great place to work,director,current employee less than 1 year,NaN,the company has a great cuture and the nice th...,big portfolio of products so there is a lot to...,...,"['Positive', 'Positive']","[[0.004255812615156, 0.00022892341075900002, 0...","[0.9955, 0.9966]",0.000000,1.992141,0.000000,Positive,Positive,NaN,NaN
18348,2023-04-29 00:00:00Toxic20034,Informatica,1.0,2023-04-29,toxic,account executive,former employee more than 1 year,"Dallas, TX",good overall benefits and pay sko is strong an...,my team and manager was quite toxic with a lot...,...,"['Positive', 'Positive']","[[0.0019939446356140003, 0.0004348887887310000...","[0.9976, 0.9988]",0.000000,1.996393,0.000000,Positive,Positive,32.776664,-96.796988

In [16]:
df['Country'] = df.apply(lambda row: get_country(row['latitude'], row['longitude'], api_key), axis=1)

In [17]:
df

,id,Company Name,Overall Rating,Review Date,Review Title,Job Title,Job Details,Location,Pros,Cons,...,probs,confidence,negative_score,positive_score,neutral_score,atepc_final_aggregated_sentiment,vader_sentiment,latitude,longitude,Country
0,"2024-02-12 00:00:00Good pay, hard work0",Amazon,5.0,2024-02-12,good pay hard work,area manager ii,former employee more than 3 years,"Romulus, MI",pay autonomy plenty of benefits,it was hard work in a warehouse many days of 1...,...,"[[0.11926588416099501, 0.0007681544520890001, ...","[0.88, 0.9721000000000001]",0.000000,1.852019,0.000000,Positive,Positive,42.222261,-83.396599,United States
1,2016-01-10 00:00:00You Get What You Put In1,Amazon,5.0,2016-01-10,you get what you put in,anonymous employee,current employee,"Seattle, WA",really smart people a lot of opportunity for g...,you have to be self motivated no one will hold...,...,"[[0.024461025372147, 0.0006920149899080001, 0....","[0.9748, 0.8659]",0.000000,1.840734,0.000000,Positive,Positive,47.606139,-122.332848,United States
2,"2016-02-20 00:00:00Exciting Work, Abusive Cult...",Amazon,3.0,2016-02-20,exciting work abusive culture,senior engineering manager,current employee more than 8 years,"Seattle, WA",jeff bezos and his steam are brilliant and con...,the management process is abusive and im curre...,...,"[[0.435907185077667, 0.000631120288744, 0.5634...","[0.5635, 0.9838]",0.983846,0.563462,0.000000,Negative,Negative,47.606139,-122.332848,United States
3,2013-12-17 00:00:00Can be amazing for some peo...,Amazon,4.0,2013-12-17,can be amazing for some people horrible for ot...,software development manager,current employee more than 3 years,"Seattle, WA",amazon is doing lots of cool stuffbut lots of ...,youre responsible for your own career progress...,...,[],[],0.000000,0.000000,0.000000,Neutral,Positive,47.606139,-122.332848,United States
4,2018-02-23 00:00:00An Amazing Place to Work4,Amazon,5.0,2018-02-23,an amazing place to work,software development manager,current employee less than 1 year,"Phoenix, AZ",ive been at amazon for a month now and ive see...,no cons so far seriously like i said im sure a...,...,"[[0.001275023911148, 0.000407961517339, 0.9983...","[0.9983000000000001, 0.9983000000000001, 0.7316]",0.000000,2.728296,0.000000,Positive,Positive,33.448377,-112.074037,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,2023-05-26 00:00:00Not exactly20030,Informatica,2.0,2023-05-26,not exactly,data scientist,former employee less than 1 year,"Austin, TX",great office location and some really good people,micro managing convenient memory loss manageri...,...,"[[0.013467683456838, 0.978248715400695, 0.0082...","[0.9782000000000001, 0.9989]",0.000000,0.998926,0.978249,Positive,Negative,30.267153,-97.743061,United States
18345,2022-02-25 00:00:00Micro managers R US (and we...,Informatica,1.0,2022-02-25,micro managers r us and weve got spreadsheets ...,developer,former employee more than 3 years,NaN,its a funny company informatica they like to m...,the biggest con they do not keep money promise...,...,[],[],0.000000,0.000000,0.000000,Neutral,Positive,NaN,NaN,NaN
18346,2023-05-15 00:00:00easy job but alot of change...,Informatica,3.0,2023-05-15,easy job but alot of changes,business development manager,current employee more than 1 year,"Austin, TX",great people good pay free trips,way to many business changes it is hard to kee...,...,[],[],0.000000,0.000000,0.000000,Neutral,Positive,30.267153,-97.743061,United States
18347,2022-09-30 00:00:00Great place to work20033,Informatica,5.0,2022-09-30,great place to work,director,current employee less than 1 year,NaN,the company has a great cuture and the nice th...,big portfolio of products so there is a lot to...,...,"[[0.004255812615156, 0.00022892341075900002, 0...","[0.9955, 0.9966]",0.000000,1.992141,0.000000,Positive,Positive,NaN,NaN,NaN
18348,2023-04-29 00:00:00Toxic20034,Informatica,1.0,2023-04-29,toxic,account executive,former employee more than 1 year,"Dallas, TX",good overall benefits and pay sko is strong an...,my team and manager was quite toxic with a lot...,...,"[[0.0019939446356140003, 0.0004348887887310000...","[0.9976, 0.9988]",0.000000,1.996393,0.000000,Positive,Positive,32.776664,-96.796988,United States

In [18]:
df.to_csv('location.csv',index=False)